<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="text-center">
  <h3>Boralá</h3>
  <p>
    Boa viagem.
  </p>
  <ion-grid>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-5> <ion-img class="logo" width="80" height="80" src="../assets/tour.jpg"></ion-img></ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button block secondary menuToggle>Encontre uma excursão</button>
</ion-content>
