<!--
  Generated template for the FormPacotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pacote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-input type="hidden" formControlName="id" name="id"></ion-input>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Local</ion-label>
            <ion-input type="text" formControlName="google_places_id" name="google_places_id"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Cidade</ion-label>
            <ion-input type="text" formControlName="cidade_id" name="cidade_id"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button block [disabled]="!form.valid">{{ insert ? 'Cadastrar' : 'Atualizar'}}</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>

