<!--
  Generated template for the FormPacotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pacote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-input type="hidden" formControlName="id" name="id"></ion-input>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Título</ion-label>
            <ion-input type="text" formControlName="titulo" name="titulo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Descrição</ion-label>
            <ion-input type="text" formControlName="descricao" name="descricao"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Preço</ion-label>
            <ion-input type="text" formControlName="preco" name="preco"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Excursão</ion-label>
            <ion-select formControlName="excursao_id" name="excursoes">
               <ion-option *ngFor="let excursao of excursoes" value="{{ excursao.id }}">{{ excursao.titulo }}</ion-option> 
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button block [disabled]="!form.valid">{{ insert ? 'Cadastrar' : 'Atualizar'}}</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>

