<ion-content padding>
  <ion-slides pager>
    <ion-slide>
      <img src="../../assets/imagens/van.png" alt=""/>
      <h2>Encontre a melhor excursão</h2>
      <p>Nós reunimos diversos tipos de excursões para você encontrar sempre a melhor opção.</p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/imagens/micro.png" alt=""/>
      <h2>Qualidade e Segurança</h2>
      <p>Viagem sempre nos melhores veiculos e com a certeza de segurança, seja qual for o destino.</p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/imagens/onibus.png" alt=""/>
      <h2>Compromisso <strong>Boralá</strong> de menor preço</h2>
      <p>Os melhores destinos com os melhores preços você só vai encontrar aqui.</p>
    </ion-slide>
    <ion-slide>
      <h2>Faça parte agora da maior rede de excursões do Brasil.</h2>
      <button ion-button full (click)="comeca()">Começar</button>
    </ion-slide>
  </ion-slides>
</ion-content>
