page-login {

  /*font-size: 12px;

  ion-input{
    font-size: 11px;
  }*/

.fundo{
    background-color: rgb(130, 163, 161);
}


  img.panel-profile-img{
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .panel {
    margin-bottom: 20px;
    margin-right: -12px;
    margin-left: -12px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  }

  .panel-default {
    border-color: #ddd;
  }

  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .panel-body {
    padding: 15px;
  }

  .panel-profile .panel-title {
    margin-bottom: 5px;
  }

  .panel-profile .panel-heading {
    height: 150px;
    background-size: cover;
  }

  .panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }

  .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
  }

}
