<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="fundo" padding>
  <div class="fundo">
    <div class="panel panel-default panel-profile">
      <div class="panel-heading" style="background-image: url(../assets/user.jpg);"></div>
      <div class="panel-body text-center">
          <img class="panel-profile-img" src="../assets/icone.png">
        <form>
          <ion-list>
            <h5 text-center>Bem vindo ao Boralá</h5>
            <ion-item>
              <ion-input type="text" placeholder="Usuário"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Senha"></ion-input>
            </ion-item>
            <p>
              <a href="#">Esqueci minha senha</a>
            </p>
            <button ion-button full (click)="logIn()">Entrar</button>
            <p>
              Não possui cadastro? Cadastre-se <a href="#">aqui</a>
            </p>
          </ion-list>
        </form>
      </div>
    </div>
  </div>
</ion-content>
