<!--
  Generated template for the ListExcursaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minhas Excursões</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-list>
  <ion-item-sliding  *ngFor="let item of excursoes">
      <ion-item (click)="itemTapped($event, item)">
        <p>{{ item.titulo }}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="presentConfirm(item.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
</ion-list>
<ion-fab right bottom>
   <button ion-fab (click)="newExcursao()"><ion-icon name="add"></ion-icon></button>
 </ion-fab>
</ion-content>