<!--
  Generated template for the CadastroUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro de Usuario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Preencha os campos abaixos</h3>
  <form [formGroup]=form (ngSubmit)="save()" >
    <ion-item>
      <ion-label floating>Nome*</ion-label>
      <ion-input type="name" name="nome" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email*</ion-label>
      <ion-input type="email" name="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Telefone</ion-label>
      <ion-input type="text" name="telefone" formControlName="telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha*</ion-label>
      <ion-input type="password" name="senha" formControlName="senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Confirmar Senha*</ion-label>
      <ion-input type="password" name="confirmar" formControlName="confirmar"></ion-input>
    </ion-item>
    <button [disabled]="form.invalid" ion-button full block>Cadastrar</button>
  </form>
</ion-content>
